//  ============================================================================
//
//  Variables
//
//  Project Level Variables
//  ============================================================================

//  Colors
//  Light to Dark and ROYGBIV
//  ============================================================================
//  Whites
//  ========================================================
$cream: #fffcf5;

//  Greys
//  ========================================================
$slate: #516568;
$chalkboard: #2e3e3f;

//  Reds
//  ========================================================

//  Oranges
//  ========================================================
$peach: #e0d7c3;

//  Yellows
//  ========================================================

//  Greens
//  ========================================================
$grass: #92af51;

//  Blues
//  ========================================================
$sea-foam: #b8d9d9;

//  Indogos
//  ========================================================

//  Violets
//  ========================================================

//  Typography
//  ============================================================================
$base-font-size:  14;

$serif-stack:  georgia, times, serif;
$sans-serif-stack:  verdana, arial, sans-serif;

$fancy-serif-stack: "bree-serif-1","bree-serif-2", #{$serif-stack};
$fancy-sans-serif-stack: "soleil-1","soleil-2", #{$sans-serif-stack};

//  Media Queries
//  ============================================================================
$large-breakpoint: (680 / $base-font-size) * 1em;
$large-breakpoint: (680 / $base-font-size) * 1em;
$large-screen: "only screen and (min-width: #{$large-breakpoint})";
$small-breakpoint: ((680 - 1) / $base-font-size) * 1em;
$small-screen: "only screen and (max-width: #{$small-breakpoint})";

//  Layout
//  ============================================================================

//  Paths
//  ============================================================================

//  Project Specifics
//  ============================================================================
$background-color: #{$cream};

//  Anchor Defaults
//  ========================================================
$linky-blue: blue;

//  Typography Defaults
//  ========================================================
$font-family: #{$fancy-sans-serif-stack};
$heading-family: #{$fancy-serif-stack};
$font-color: #{$chalkboard};
