/*  ============================================================================
*
*   Layout
*
*   Layout related css
*   ========================================================================= */

.l {
  &-fullBleed {
    width: 100%;
    text-align: center;
  }

  &-wrapper {
    text-align: left;
    max-width: pxs2rems(360);
    padding: pxs2ems(36) pxs2ems(12);
    padding: pxs2rems(36) pxs2rems(12);
    margin: 0 auto;
    @include clearfix();

    @include mq($large-screen) {
      max-width: pxs2ems(680);
      max-width: pxs2rems(680);
      padding: pxs2ems(72) pxs2ems(24);
      padding: pxs2rems(72) pxs2rems(24);
    }
  }
}
