doctype html
html(lang='en-us')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Contact List Importer/Exporter
    link(rel='stylesheet', href='css/app.css')
    script(src='//use.typekit.net/cni8qgr.js')
    script.
      try{Typekit.load();}catch(e){}
  body
    header.Banner.l-fullBleed(role='banner')
      h1.Banner-title Your Contacts

    main.l-fullBleed(role='main')
      section.l-fullBleed
        .l-wrapper
          table
            tbody#contacts.Conacts.js-contacts(aria-live='polite', aria-relevant='additions removals')
              //
                tr.Contact
                  td.Contact-givenName Bob
                  td.Contact-familyName Jones
                  td.Contact-tel (123) 456-7890
                  td.Contact-actions
                    button Export
                    button Remove
                tr.Contact
                  td.Contact-givenName Viktoriya
                  td.Contact-familyName Lobanov-Rostovskii
                  td.Contact-tel 123-456-7890
                  td.Contact-actions
                    button Export
                    button Remove
                tr.Contact
                  td.Contact-givenName Patriciana
                  td.Contact-familyName Richardson
                  td.Contact-tel 1-123-456-7890
                  td.Contact-actions
                    button Export
                    button Remove
                tr.Contact
                  td.Contact-givenName Bob
                  td.Contact-familyName Jones
                  td.Contact-tel 1 (123) 456-7890
                  td.Contact-actions
                    button Export
                    button Remove
                tr.Contact
                  td.Contact-givenName Bob
                  td.Contact-familyName Jones
                  td.Contact-tel (123) 456-7890
                  td.Contact-actions
                    button Export
                    button Remove

      section.l-fullBleed.Box
        .l-wrapper.g-narrow
          .g-narrow-inner
            form.js-addContact(method='POST', action='#')
              legend.Box-title Add A New Contact
              ol
                li.TextInput
                  label.TextInput-label(for='given-name') First Name
                  input#given-name.TextInput-field(type='text', name='given-name')
                li.TextInput
                  label.TextInput-label(for='family-name') Last Name
                  input#family-name.TextInput-field(type='text', name='family-name')
                li.TextInput
                  label.TextInput-label(for='tel') Telephone Number
                  input#tel.TextInput-field(type='tel', name='tel')
                li
                  button.Btn(type='submit') Add

      section.l-fullBleed.Box.Box_midTone
        .l-wrapper
          h2.Box-title Add A New Contact
          .g-split
            form.js-export(method='POST', action='#')
              ol
                li.TextInput
                  label.TextInput-label(for='given-name') JSON Export
                  textarea.TextInput-field.TextInput-textarea.js-exportField#export(name='export')

          .g-split
            form.js-import(method='POST', action='#')
              ol
                li.TextInput
                  label.TextInput-label(for='import') Import JSON
                  textarea.TextInput-field.TextInput-textarea.js-importField#import(name='import', aria-describedby='import-desc')
                  p#import-desc.TextInput-desc
                    Data must be imported as an array of objects. The object should have the following structure.
                    code
                      | {
                      |   "firstName": "String",
                      |   "lastName": "String",
                      |   "tel": "String"
                      | }
                li
                  button.Btn(type='submit') Import

      section.l-fullBleed
        .l-wrapper.g-narrow
          ol.g-narrow-inner.Log.js-logs(aria-live='polite', aria-relevant='additions')

    script(src='js/app.min.js', type='text/javascript')
