/*  ============================================================================
*
*   Banner
*
*   Module for styling app banner.
*   ========================================================================= */

.Banner {
  color: $cream;
  background-color: $grass;
  @include clearfix();

  &-title {
    font-family: $fancy-serif-stack;
    font-weight: 400;
  }
}
