/*  ============================================================================
*
*   Box
*
*   Basic box styling
*   ========================================================================= */

.Box {
  background-color: $chalkboard;

  &-title {
    color: $sea-foam;
    font-family: $fancy-serif-stack;
    @include font-size(24);
    font-weight: 300;
    text-align: center;
  }

  &_midTone {
    background-color: $slate;
  }

  &_light {
    background-color: $peach;

    &-title {
      color: $font-color;
    }
  }
}
