/*  ============================================================================
*
*   Contact
*
*   Module for styling standard Contact table
*   ========================================================================= */

.Contact {
  &:nth-of-type(odd) {
    td {
      background-color: $peach;
    }
  }

  td {
    padding: pxs2ems(8);
    padding: pxs2rems(8);
  }

  //  Only doing desktop first here because tables don't always apply
  //  style properly
  @include mq($small-screen) {
    &,
    tr,
    td {
      display: block;
    }
  }
}
