/*  ============================================================================
*
*   TextInput
*
*   Module for styling standard Text Inputs.
*   ========================================================================= */

.TextInput {
  padding: pxs2ems(8) 0 pxs2ems(24) 0;
  padding: pxs2rems(8) 0 pxs2rems(24) 0;
  width: 100%;

  &-label {
    color: $sea-foam;
    @include font-size(16);
    text-align: left;
    display: block;
  }

  &-field {
    box-sizing: border-box;
    width: 100%;
    padding: pxs2ems(4);
    padding: pxs2rems(4);
    border: 3px solid $slate;
    border-radius: 3px;
  }

  &-textarea {
    height: pxs2ems(120);
    height: pxs2rems(120);
  }

  &-desc {
    color: $sea-foam;
  }
}
